/*ESTILOS GENERALES*/
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

.box p, .box h2, .box h3 ,.box ul{
    margin-top: 10px;
    margin-bottom: 15px;
}
.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #1c314c;
}

/*ESTILOS CABECERA*/
header {
    width: 100%;
    height: 180px;
    background-color: #1c314c;
    margin: auto;
    /*centrar*/

}

/* para id # elementos unicos*/
#logotipo {
    width: 100%;
    height: 130px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

#logotipo img {
    display: block;
    width: 250px;
}



/*Estilos barra de navegacion*/
nav {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #1c314c;
    font-family: inherit;
    border-bottom: 5px solid #1c314c;
    
    /*box-shadow: 0px 22px 22px #01c6f3;
    /*sombra x y difunado color*/
    font-size: 25px;
    
}

nav > ul {
    list-style: none;
    text-decoration: none;
}

nav > ul > li {
    line-height: 40px;
    float: left;

}

nav > ul > li > a {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    

}

/*efectos al pasar encima */
nav > ul > li >a:hover {
    background: #1c314c;
   /* box-shadow: 0px 0px 15px  #f2911a4a inset;*/
    color: white ;
    border-bottom: 4px solid #f2901a;
   
}

nav > ul > li >ul {
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 180px
}

nav > ul > li:hover > ul{
    display: block;
    margin: 0px;
    color: white;
    list-style: none;
    
}
nav > ul > li:hover > ul > li{
   background: #1c314c;
   border-bottom: 1px solid #f2901a;
   padding: 8px;
   line-height:25px ;
   font-size: 18px;   
   transition: all 300ms; 
}
nav > ul > li:hover > ul > li a{
    color: white;
    transition: all 300ms; 
}

nav > ul > li:hover > ul > li:hover{
    background-color: #f2901a;
}

nav > ul > li:hover > ul > li:hover a{
   color: white;
   display: block;
}




/*Estilo contenido central*/
#content{
    width: 100%;
    min-height: 920px;
    margin: 0 auto;
    
    
    
}
.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
}
.box a{
    color: #1c314c;
}
.box a:hover{
    transition: all 100ms;
    color: #f2901a;
  
}
.box .image img{
    float:left;
    height: 500px;
    margin-right: 50px;

}

.box form{
    width: 40%; 
}
.box form input,
.box form label{
    display: block;
    padding: 10px;
    padding-left:0px ;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],

.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 10px;
    background: #1c314c;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;

}


.message,
.alert-success,
.alert{
    padding: 20px;
    background-color: #1c314c;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.alert-warning{
    background: red;
}

/*estilo del boton crearte article*/
.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
  cursor: pointer;
  background:#0f1c2d ;
 
}

.title{
    color:#1c314c;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 4px ;
    margin-top: 5px;
    
}

/*caja de jobposition*/
.position-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(28, 49, 76, 0.364);
    background-color: rgba(28, 49, 76, 0.1);
}

.position-item .image, .position-item .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.position-item .data {
    flex: 2;
    padding-left: 20px;
    align-self: center;
}

.position-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Esto asegura que la imagen se ajuste al contenedor manteniendo su aspecto original */
    cursor: pointer;
    transition: transform 0.3s ease;
}


.position-item img:hover {
    transform: scale(1.1);
}

.position-item h3 {
    text-align: center;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
    font-weight: bold; /* Hace que el texto sea negrita */
    margin-top: 0;
}

.position-item p {
    font-size: 14px;
}

.position-item p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.position-item p:nth-child(2),
.position-item p:nth-child(3) {
    text-align: left;
}


/*estilo pie de pagina*/
footer{
    width: 100%;
    background-color: #1c314c;
    
    border: 1px solid #333;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-top: 5px solid #f2901a;

}
.box table{
    background: #444;
    padding: 2px;
    
}


.clearfix{
    clear: both;
    float: none;
    
}

.position-item h2{
    display: block;
    font-size: 45px;
    color: #1c314c;
    margin-bottom: 5px;
    margin-top: 80px;
    
   
}
.position-item span.date{
    display: block;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
}
/*work area y activity */
.position-item p{
    display: block;
    font-size: 15px;
    color: #1c314c;
    margin-bottom: 10px;
    font-size: 20px;
    
    
}
.btn{
    padding: 10px;
    background: rgba(101, 3, 3, 0.822);
    color: white;
    border:1px solid black;
    display: block;
    margin-top: 20px;
    width: 100px;
    text-align: center;
}
/*date contenido de page*/
.date{
    display: block;
    margin-top:15px ;
    margin-bottom: 25px;
    color: gray;
}
.content{
    line-height: 30px;
}

/*index tarjeta empresas*/
.company-box {
    display: flex;
    width: 70%;
    margin: 20px auto; /* Espacio entre las tarjetas */
    border-radius: 20px;
    /*border-bottom: 1px solid #4c361c; /* Solo borde inferior */
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(28, 49, 76, 0.364); /* Efecto de sombra celeste azul */
    background-color: rgba(28, 49, 76, 0.1); /* Fondo de la tarjeta similar a la sombra pero más claro */
}

.company-box .logo {
    display: flex; /* Habilita Flexbox */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    height: 200px; /* Ajusta al tamaño que prefieras */
    width: 200px; /* Ajusta al tamaño que prefieras */
    overflow: hidden; /* Esto asegura que la imagen no se salga de su contenedor */
}

.company-box .company-info {
    flex: 2;
    padding-left: 20px;
}

.company-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio disponible, recortándola si es necesario */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.company-box img:hover {
    transform: scale(1.1); /* La imagen se amplía un 10% cuando pasas el cursor por encima */
}

.company-box h2 {
    text-align: center; /* El nombre de la empresa en el centro */
    font-size: 30px; /* El nombre de la empresa más grande */
}

.company-box p {
    font-size: 14px; /* Dirección, sector y departamento en un tamaño más pequeño */
}

.company-box p:nth-child(1) {
    font-weight: bold; /* Hace que el texto sea negrita */
    font-size: 20px; /* Aumenta el tamaño de la fuente */
}

.company-box p:nth-child(2),
.company-box p:nth-child(3) {
    text-align: left; /* Alinea el texto a la izquierda */
}

/*aañdir empresa*/
.form-button {
    background-color: #1c314c; /* color de fondo */
    border: none;
    color: white; /* color del texto */
    padding: 15px 30px; /* tamaño del botón */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 12px; /* bordes redondeados */
}
/*form añadir empresa*/
/* Estilo para la ventana de fondo */
.modal {
    display: none; /* La ventana emergente está oculta por defecto */
    position: fixed; /* Fija la ventana en la posición */
    z-index: 1; /* Sitúa la ventana por encima de todo */
    left: 0;
    top: 0;
    color:white;
    width: 100%; /* Anchura completa */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* También se aplica color de fondo, pero con opacidad */
}

/* Estilo para la ventana emergente */
/*form añadir empresa*/
/* Estilo para la ventana de fondo */
.modal {
    display: none; /* La ventana emergente está oculta por defecto */
    position: fixed; /* Fija la ventana en la posición */
    z-index: 1; /* Sitúa la ventana por encima de todo */
    left: 0;
    top: 0;
    color:white;
    width: 100%; /* Anchura completa */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* También se aplica color de fondo, pero con opacidad */
}

/* Estilo para la ventana emergente */
.modal-content {
    position: relative;
    background-color: #1c314cc8;
    margin: 15% auto; /* 15% desde arriba y centrado */
    padding: 20px;
    border: 3px solid #f2901a;
    width: 30%; /* Podrías ajustar esto a lo que prefieras */
}

/* Estilo para el botón de cerrar */
#close {
    color: white;
    background-color: rgba(255, 0, 0, 0.739);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20%;
    
}
#closeEditAreaForm
{
        color: white;
    background-color: rgba(255, 0, 0, 0.739);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20%;
    
}



#close:hover,
#close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* Estilo para el botón de cerrar */
#close {
    color: white;
    background-color: rgba(255, 0, 0, 0.65);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20%;
    
}



/*LOGIN*/
.login-container {
    background: #1c314c ;/* Azul oscuro */
    color: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.login-title {
    text-align: center;
    color: #ffffff; /* Blanco */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-form-group label {
    text-align: left;
    width: 100%;
    color: #ffffff; /* Blanco */
}

.login-form-group input {
    margin: 10px 0;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.login-button {
    background-color: red; /* Naranja */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border:2px solid white;
}
/*Register*/
.register-container {
    background-color: #1c314c; /* Color de fondo blanco */
    color: white; /* Color de texto negro */
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.register-title {
    text-align: center;
    color: white; /* Negro */
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-form-group label {
    text-align: left;
    width: 100%;
    color: white; /* Negro */
}

.register-form-group input {
    margin: 10px 0;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.register-button {
    background-color: #ff7f00; /* Naranja */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
/*btn añadir area*/
.btn-add {
    display: block; /* Hace que el enlace ocupe toda la fila */
    
    text-align: center; /* Centrado */
    padding: 10px; /* Espaciado */
}

/*detail.html*/


.position-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px;
}

.position-image {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}

.position-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra la información verticalmente */
}

.small-image {
    width: 50%; /* Ajusta este valor según el tamaño que desees */
    border-radius: 20px; /* Añade bordes curvos a la imagen */
    transition: transform 2s; /* Añade una transición al transformar la imagen */
}

.small-image:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen en un 10% cuando se pasa el cursor por encima */
}

.position-info .title {
    text-align: center; /* Centra el nombre de la posición */
}
