<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">

    <title> 
        {% block title %}
      
        {% endblock %}
        
    </title>
    

    {%load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

</head>

<body>
    <!--cabezera-->
    <header>
        <div id="logotipo">
            <!-- cargar logo-->
            <img src="{%static 'imagenes/icam.png'%}" />
            
           
        </div>
        
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}"><i class="fas fa-building"></i>Empresas</a>
            </li>
            {% if user.is_authenticated %}
            {% if user.email and 'selected_company_id' in request.session %}
                <li>
                    <a href="{% url 'company_areas' request.session.selected_company_id %}"><i class="fas fa-map-marker-alt"></i>Áreas</a>
                </li>
            {% endif %}
            <!--{% for page in pages %}
                <li>
                    <a href="{% url 'page' page.2 %}">{{page.1}}</a>
                </li>
            {% endfor %}-->
            {% endif %}
            {% if user.is_authenticated %}
    <li>
        <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Usuario</a>
    </li>
{% endif %}

            {% if user.email %}
                <li>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Registro</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Log In</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>
    
        

    <div id="content">
        
        <div class="box">
            
            {% block content %}
            <!--Codigo de templates-->
            <strong>Contenido del bloque original</strong>
            {% endblock %}

        </div>



    </div>
  

    <footer>
        
        {%now "Y"%}&copy; | ICAM |Todos los derechos reservados |Leonardo La Fuente 
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Incluye todos los plugins compilados de Bootstrap (abajo), o incluye archivos JavaScript individuales según sea necesario -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>


</html>