{% extends "layouts/layout.html" %}
{% block title %} {{title}} {%endblock%}
{%block content%}
<h1>{{title}}</h1>

{% if messages %}

    {%for message in messages%}
    <div class="alert alert-success">
        {{message}}
    </div>
    {%endfor%}
{% endif %}

{%if user.email%}
    <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    <p>
        {{user.email}}
    </p>
   
    {% for company in companies %}
    <div class="company-box">
        <div class="logo">
            <a href="{% url 'company_positions' company.id %}">
                <img src="{{company.image.url}}" alt="{{company.name}}">
            </a>
        </div>
        <div class="company-info">
            <h2>{{company.name}}</h2>
            <p>Departamento: {{ company.department}}</p>
            <p>Direccion: {{company.address}}</p>
            <p>Rubro: {{company.sector}}</p>
        </div>
    </div>
{% endfor %}



{% else %}
    <h2>Identificate para ver mas cosas</h2>

{%endif%}

{%endblock%}
