{% extends "layouts/layout.html" %}
{% block title %} {{title}} {%endblock%}
{%block content%}
<h1>{{title}}</h1>

{% if messages %}

    {%for message in messages%}
    <div class="alert alert-success">
        {{message}}
    </div>
    {%endfor%}
{% endif %}

{%if user.email%}
    <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    <p>
        {{user.email}}
    </p>
    {% if user.is_superuser %}
    <button id="toggleFormButton" class="form-button">Añadir Empresa</button>
    <div id="companyForm" style="display: none;">
        <!-- AÑADIR: enctype="multipart/form-data" -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
{% endif %}


{% for company in companies %}
<a href="{% url 'company_positions' company.id %}" style="text-decoration: none; color: inherit;">
    <div class="company-box">
        <div class="logo">
            <img src="{{ company.image.url }}" alt="{{ company.name }}">
        </div>
        <div class="company-info">
            <h2>{{company.name}}</h2>
            <p>Departamento: {{ company.department}}</p>
            <p>Direccion: {{company.address}}</p>
            <p>Rubro: {{company.sector}}</p>
        </div>
    </div>
</a>
{% endfor %}




{% else %}
    <h2>Identificate para ver mas cosas</h2>

{%endif%}
<script>
    window.onload = function() {
        document.getElementById('toggleFormButton').addEventListener('click', function() {
            var form = document.getElementById('companyForm');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
    }
    </script>
    

{%endblock%}
