{% extends "layouts/layout.html" %}
{% block title %} {{title}} {%endblock%}
{%block content%}
<h1>{{title}}</h1>

{% if messages %}
    {%for message in messages%}
    <div class="alert alert-success">
        {{message}}
    </div>
    {%endfor%}
{% endif %}

{%if user.email%}
    <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    <p>
        {{user.email}}
    </p>
    {% if user.is_superuser %}
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <!-- Botón de añadir empresa -->
        <button id="toggleFormButton" class="form-button" style="margin: 0; padding: 10px;">Añadir Empresa</button>        <div id="companyForm" class="modal">
            <div class="modal-content">
                <a href="#" id="close">X</a>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.hidden_fields }}
                    {% for field in form.visible_fields %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="form-button" type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <!-- Formulario de búsqueda -->
        <form method="get" action="{% url 'search_company' %}" style="display: flex; align-items: center;">
            <input type="text" name="q" placeholder="Buscar empresa" style="margin: 0; padding: 10px;">
            <button class="form-button" type="submit" style="margin: 0; padding: 10px;"><i class="fas fa-search"></i></button>
        
                            
        </form>
       
    </div>
   <!-- Añade esto después de tu formulario de búsqueda -->
   {% if searched %}
   <div style="display: flex; justify-content: center; margin-top: 20px;">
       <button id="viewAllButton" class="form-button" style="padding: 10px;" onclick="window.location.replace('{% url 'inicio' %}');">Ver todas las empresas</button>
   </div>
{% endif %}

{% endif %}

{% for company in companies %}
<a href="{% url 'company_areas' company.id %}" style="text-decoration: none; color: inherit;">
    <div class="company-box">
        <div class="logo">
            <img src="{{ company.image.url }}" alt="{{ company.name }}">
        </div>
        <div class="company-info">
            <h2>{{company.name}}</h2>
            <p>Departamento: {{ company.department}}</p>
            <p>Direccion: {{company.address}}</p>
            <p>Rubro: {{company.sector}}</p>
            {% if user.is_superuser %}
        <!-- Botones de eliminación y edición -->
        <div style="display: block; justify-content: flex-end; flex-direction: column;">
            <form action="{% url 'delete_company' company.id %}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta empresa?');" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background-color: #fb043b; color: white; border: none; cursor: pointer; width: 80px;">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
            <!-- Botón de edición -->
            <a href="{% url 'edit_company' company.id %}">
            <button style="background-color: #007bff; color: white; border: none; cursor: pointer; width: 80px;height:35px">
                <i class="fas fa-pencil-alt"></i>
            </button>
    
        </div>
    </a>
        {% endif %}
        </div>
        
    </div>
</a>
{% endfor %}

{% else %}
    <h2>Identificate para ver mas cosas</h2>

{%endif%}
<script>
    window.onload = function() {
        var modal = document.getElementById('companyForm');
        var btn = document.getElementById('toggleFormButton');
        var closeLink = document.getElementById('close');

        btn.onclick = function() {
            modal.style.display = "block";
        }

        closeLink.onclick = function(e) {
            e.preventDefault();
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
    

{%endblock%}
