<button id="toggleAllEvaluationsButton" style="background-color: orange; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 12px;">
    <i class="fas fa-angle-down"></i> Mostrar/Ocultar Evaluaciones ILUMINACION
</button>

<div id="evaluationspt">

<h2>Evaluaciones de Iluminación</h2>
<button id="toggleDayEvaluationsButton">Mostrar/Ocultar Evaluaciones de Día</button>
<button id="toggleNightEvaluationsButton">Mostrar/Ocultar Evaluaciones de Noche</button>
    
    
    <div id="dayEvaluations">
        <h3>Periodo Dia</h3>

    {% for evaluation in lighting_evaluations|dictsort:"date" %}
        {% if evaluation.period == "Dia" %}
            <div class="evaluation">

                <div class="evaluation-box">
          
                    <table class="styled-table">
                        <tr>
                            <th rowspan="2">Fecha</th>
                            <th rowspan="2">Tipo de Iluminacion</th>
                            <th rowspan="2">Hora</th>
                            <th colspan="3">Mediciones</th>
                            <th rowspan="2">Max</th>
                            <th rowspan="2">Min</th>
                            <th rowspan="2">Promedio</th>
                            <th rowspan="2">Parámetro</th>
                            <th rowspan="2">Cumplimiento</th>
            
                            {% if evaluation.observations %}
                            <th rowspan="2">Observación</th>
                            {% endif %}
                            
                            {% if evaluation.suggestions %}
                            <th rowspan="2">Sugerencias</th>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Izq.</th>
                            <th>Cen.</th>
                            <th>Der.</th>
                        </tr>
                        <tr>
                            <td rowspan="5">{{ evaluation.date |date:"d/m/Y"}}</td>
                            <td rowspan="5">{{ evaluation.type }}</td>
                            <td rowspan="5">{{ evaluation.time }}</td>
                            <td>{{ evaluation.left_1 }}</td>
                            <td>{{ evaluation.center_1 }}</td>
                            <td>{{ evaluation.right_1 }}</td>
                            <td rowspan="5">{{ evaluation.maximum }}</td>
                            <td rowspan="5">{{ evaluation.minimum }}</td>
                            <td rowspan="5">{{ evaluation.average }}</td>
                            <td rowspan="5">{{ evaluation.parameter }}</td>
                            <td rowspan="5">{% if evaluation.average > evaluation.parameter %}Cumple{% else %}No cumple{% endif %}</td>
                            
                            {% if evaluation.observations %}
                            <td rowspan="5">{{ evaluation.observations }}</td>
                            {% endif %}
            
                            {% if evaluation.suggestions %}
                            <td rowspan="5">{{ evaluation.suggestions }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>{{ evaluation.left_2 }}</td>
                            <td>{{ evaluation.center_2 }}</td>
                            <td>{{ evaluation.right_2 }}</td>
                        </tr>
                        <tr>
                            <td>{{ evaluation.left_3 }}</td>
                            <td>{{ evaluation.center_3 }}</td>
                            <td>{{ evaluation.right_3 }}</td>
                        </tr>
                        <tr>
                            <td>{{ evaluation.left_4 }}</td>
                            <td>{{ evaluation.center_4 }}</td>
                            <td>{{ evaluation.right_4 }}</td>
                        </tr>
                        <tr>
                            <td>{{ evaluation.left_5 }}</td>
                            <td>{{ evaluation.center_5 }}</td>
                            <td>{{ evaluation.right_5 }}</td>
                        </tr>
                    </table>
                </div>               
             </div>
        {% endif %}
    {% endfor %}
    <img src="{% url 'graph_day' position.id %}" alt="Gráfico de día">

    </div>

    <div id="nightEvaluations">
        <h3>Evaluación de Noche</h3>
    {% for evaluation in lighting_evaluations|dictsort:"date" %}
        {% if evaluation.period == "Noche" %}
            <div class="evaluation">
                    
    <div class="evaluation-box">
            
        <table class="styled-table">
            <tr>
                <th rowspan="2">Fecha</th>
                <th rowspan="2">Tipo de Iluminacion</th>
                <th rowspan="2">Hora</th>
                <th colspan="3">Mediciones</th>
                <th rowspan="2">Max</th>
                <th rowspan="2">Min</th>
                <th rowspan="2">Promedio</th>
                <th rowspan="2">Parámetro</th>
                <th rowspan="2">Cumplimiento</th>

                {% if evaluation.observations %}
                <th rowspan="2">Observación</th>
                {% endif %}
                
                {% if evaluation.suggestions %}
                <th rowspan="2">Sugerencias</th>
                {% endif %}
            </tr>
            <tr>
                <th>Izq.</th>
                <th>Cen.</th>
                <th>Der.</th>
            </tr>
            <tr>
                <td rowspan="5">{{ evaluation.date |date:"d/m/Y"}}</td>
                <td rowspan="5">{{ evaluation.type }}</td>
                <td rowspan="5">{{ evaluation.time }}</td>
                <td>{{ evaluation.left_1 }}</td>
                <td>{{ evaluation.center_1 }}</td>
                <td>{{ evaluation.right_1 }}</td>
                <td rowspan="5">{{ evaluation.maximum }}</td>
                <td rowspan="5">{{ evaluation.minimum }}</td>
                <td rowspan="5">{{ evaluation.average }}</td>
                <td rowspan="5">{{ evaluation.parameter }}</td>
                <td rowspan="5">{% if evaluation.average > evaluation.parameter %}Cumple{% else %}No cumple{% endif %}</td>
                
                {% if evaluation.observations %}
                <td rowspan="5">{{ evaluation.observations }}</td>
                {% endif %}

                {% if evaluation.suggestions %}
                <td rowspan="5">{{ evaluation.suggestions }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ evaluation.left_2 }}</td>
                <td>{{ evaluation.center_2 }}</td>
                <td>{{ evaluation.right_2 }}</td>
            </tr>
            <tr>
                <td>{{ evaluation.left_3 }}</td>
                <td>{{ evaluation.center_3 }}</td>
                <td>{{ evaluation.right_3 }}</td>
            </tr>
            <tr>
                <td>{{ evaluation.left_4 }}</td>
                <td>{{ evaluation.center_4 }}</td>
                <td>{{ evaluation.right_4 }}</td>
            </tr>
            <tr>
                <td>{{ evaluation.left_5 }}</td>
                <td>{{ evaluation.center_5 }}</td>
                <td>{{ evaluation.right_5 }}</td>
            </tr>
        </table>
    </div><!-- Aquí puedes mostrar los demás campos de la evaluación -->
</div>    
            {% endif %}
        {% endfor %}
        <img src="{% url 'graph_night' position.id %}" alt="Gráfico de noche">

        
    </div>

    

<script>
document.getElementById('toggleAllEvaluationsButton').addEventListener('click', function() {
    var evaluations = document.getElementById('evaluationspt');
    if (evaluations.style.display === 'none') {
        evaluations.style.display = 'block';
    } else {
        evaluations.style.display = 'none';
    }
});

document.getElementById('toggleDayEvaluationsButton').addEventListener('click', function() {
    var dayEvaluations = document.getElementById('dayEvaluations');
    if (dayEvaluations.style.display === 'none') {
        dayEvaluations.style.display = 'block';
    } else {
        dayEvaluations.style.display = 'none';
    }
});

document.getElementById('toggleNightEvaluationsButton').addEventListener('click', function() {
    var nightEvaluations = document.getElementById('nightEvaluations');
    if (nightEvaluations.style.display === 'none') {
        nightEvaluations.style.display = 'block';
    } else {
        nightEvaluations.style.display = 'none';
    }
});
</script>