{% extends "layouts/layout.html" %}

{% block title %} {{position.name}} {%endblock%}

{%block content%}
<div class="position-container">
    <div class="position-image">
        {%if position.image != 'null' %}
        <img class="small-image" src="{{position.image.url}}"/>
        {%endif%}
    </div>

    <div class="position-info">
        <h1 class="title">{{position.name}}</h1>
        <span class="date"> {{position.created_at}}</span>

        <p class="content">
            <strong>ÁREA:</strong> {{position.area}}
        </p>
        <p>
            <strong>TIPO DE ACTIVIDAD:</strong> {{position.activity_type|safe}}
        </p>
        <div>
            <button class="btn-eva" type="button" onclick="location.href='{% url 'evaluacion_iluminacion' position.id %}'">ILUMINACION</button>

            <button class="btn-eva" type="button" onclick="location.href='{% url 'evaluacion_ruido' position.id %}'">RUIDO</button>

        </div>
        </div>


    
</div>
</br>
<hr>
<div id="iluminacion">
    {% if lighting_evaluations %}
        {% include "evaluations/ilu_pt.html"  %}
    {% endif %}
</div>

<div id="ruido">
    {% if ruido_evaluations %}
        {% include "evaluations/ruido.html"  %}
    {% endif %}
</div>



{%endblock%}
