{% extends "layouts/layout.html" %}

{% block title %} {{title}} {%endblock%}

{%block content%}

<h1 class="title">{{title}}</h1>

<!-- Botón para añadir área -->
{% if user.is_superuser %}
   <!-- Botón de añadir área -->
<button id="toggleAreaFormButton" class="form-button" style="margin: 0; padding: 10px;">Añadir Área</button>
<div id="areaForm" class="modal">
    <div class="modal-content">
        <a href="#" id="closeArea">X</a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.hidden_fields }}
            {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="form-button" type="submit">Guardar</button>
        </form>
    </div>
    <form method="get" action="{% url 'search_company' %}" style="display: flex; align-items: center;">
        <input type="text" name="q" placeholder="Buscar empresa" style="margin: 0; padding: 10px;">
        <button class="form-button" type="submit" style="margin: 0; padding: 10px;"><i class="fas fa-search"></i></button>
    
                        
    </form>
</div>

{% endif %}

{% for area in areas %}
    {% if area.id %}
        <!-- Todo el cuadro es un botón que redirige a los puestos de trabajo de la área -->
        <a href="{% url 'area' area.id%}" style="text-decoration: none; color: inherit;">
            <article class="position-item">
                <!-- Aquí puedes agregar una imagen o un marcador de posición si es necesario -->
                <div class="data">
                    <h3>{{ area.name }}</h3>
                    <p>{{ area.description }}</p>
                    {% if user.is_superuser %}
                        <!-- Botones de eliminar y editar -->
                        <div style="display: block; justify-content: flex-end; flex-direction: column;">
                            <form action="#" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta empresa?');" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" style="background-color: #fb043b; color: white; border: none; cursor: pointer; width: 80px;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                            <!-- Botón de edición -->
                            <a href="#">
                            <button style="background-color: #007bff; color: white; border: none; cursor: pointer; width: 80px;height:35px">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </article>
        </a>
    {% else %}
        <article class="position-item">
            <div class="data">
                <h3>No hay áreas disponibles para esta empresa.</h3>
            </div>
            <div class="clearfix"></div>
        </article>
    {% endif %}
{% endfor %}

{%endblock%}
