{% extends "layouts/layout.html" %}
<!--HTML DE AREAS-->
{% block title %} {{title}} DE {{company.name}}  {%endblock%}

{%block content%}

<h1 class="title" style="text-transform: uppercase;"> {{title}} DE: {{company.name}} </h1>
{% if messages %}
    {%for message in messages%}
    <div class="alert alert-success">
        {{message}}
    </div>
    {%endfor%}
{% endif %}


<p>{{ areas.count }} área(s) registradas en total.</p>
<div style="display: flex; justify-content: space-between; align-items: center;">
    {% if user.is_superuser %}
  
    <!-- Botón de añadir área -->
<button id="toggleAreaFormButton" class="form-button" style="margin: 0; padding: 10px;">Añadir Área</button>

<!-- Formulario de añadir área -->
<div id="addAreaForm" class="modal">
    <div class="modal-content">
        <a href="#" id="closeAddAreaForm">X</a>
        <form action="{% url 'add_area' %}" method="post">
            {% csrf_token %}
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" autocomplete="name" required><br>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required>
            <button type="submit">Guardar</button>
            <button type="button" onclick="closeForm('addAreaForm')">Cancelar</button>
        </form>

    </div>
  
</div>
{% endif %}
  <!-- Formulario de búsqueda -->
  <form method="get" action="{% url 'search_area' company.id %}" style="display: flex; align-items: center;">
    <input type="text" name="q" placeholder="Buscar área" style="margin: 0; padding: 15px; border-radius: 50px;font-size:22px">
    <button class="form-button" type="submit" style="margin: 5px; padding: 8px;border:0;"><i class="fas fa-search"></i></button>
</form>



</div>
{% if searched %}
<div style="display: flex; justify-content: center; margin-top: 20px;">
    <button id="viewAllButton" class="form-button" onclick="window.location.replace('{% url 'company_areas' company.id %}');">Ver todas las áreas</button>
</div>
{% endif %}


{% for area in areas %}
    {% if area.id %}
        <!-- Todo el cuadro es un botón que redirige a los puestos de trabajo de la área -->
        <a href="{% url 'area' area.id%}" style="text-decoration: none; color: inherit;">

        <div class="position-item">
            <div class="logo">
                <i class="fa fa-object-ungroup" style="font-size: 15em; color: #1c314c;padding-left:10px;"></i>

            </div>
                <div class="data">
                    <h3>{{ area.name }}</h3>
                    <p>{{ area.created_at }}</p>
                    <p>Descripcion: {{ area.description }}</p>

                </a>
                {% if user.is_superuser %}
                <!-- Botones de eliminar y editar -->
                <div style="display: block; justify-content: flex-end; flex-direction: column;">
                    <form action="{% url 'delete_area' area.id %}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta área?');" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background-color: #fb043b; color: white; border: none; cursor: pointer; width: 80px;">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                    <!-- Botón de edición -->
                    <button type="button" style="background-color: #007bff; color: white; border: none; cursor: pointer; width: 80px;height:44px;" onclick="openForm('editAreaForm{{ area.id }}')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>

                    <!-- Formulario de edición -->
                    <div id="editAreaForm{{ area.id }}" class="modal">
                        <div class="modal-content">
                            <a href="#" id="closeEditAreaForm{{ area.id }}">X</a>
                            <form action="{% url 'edit_area' area.id %}" method="post">
                                {% csrf_token %}
                                <label for="name">Nombre:</label>
                                <input type="text" id="name" name="name" value="{{ area.name }}" required><br>
                                <label for="description">Descripción:</label>
                                <input type="text" id="description" name="description" value="{{ area.description }}" required>
                                <button type="submit">Guardar</button>
                                <button type="button" onclick="closeForm('editAreaForm{{ area.id }}')">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
            </div>

    {% else %}
        <article class="position-item">
            <div class="data">
                <h3>No hay áreas disponibles para esta empresa.</h3>
            </div>
        </article>
    {% endif %}
{% endfor %}

<script>
window.onload = function() {
    var modalAdd = document.getElementById('addAreaForm');
    var btnAdd = document.getElementById('toggleAreaFormButton');
    var closeAddLink = document.getElementById('closeAddAreaForm');

    btnAdd.onclick = function() {
        modalAdd.style.display = "block";
    }

    closeAddLink.onclick = function(e) {
        e.preventDefault();
        modalAdd.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modalAdd) {
            modalAdd.style.display = "none";
        }
    }

    {% for area in areas %}
        {% if area.id %}
            var modalEdit = document.getElementById('editAreaForm{{ area.id }}');
            var closeEditLink = document.getElementById('closeEditAreaForm{{ area.id }}');

            closeEditLink.onclick = function(e) {
                e.preventDefault();
                modalEdit.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modalEdit) {
                    modalEdit.style.display = "none";
                }
            }
        {% endif %}
    {% endfor %}
}

function openForm(formId) {
    document.getElementById(formId).style.display = 'block';
}

function closeForm(formId) {
    document.getElementById(formId).style.display = 'none';
}
/*CAPITALIZAR  TEXT*/
function capitalizeWords(str) {
    return str.replace(/\w\S*/g, function(txt){
      return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
  }
  document.addEventListener('DOMContentLoaded', function() {
    var companyNames = document.getElementsByClassName('companyName');
    for (var i = 0; i < companyNames.length; i++) {
      companyNames[i].textContent = capitalizeWords(companyNames[i].textContent);
    }
  });
</script>

{%endblock%}
