{% for position in positions%}
    <article class="position-item">
            {%if position.image != 'null' %}

        <div class="image">
                <img src="{{position.image.url}}"/>
         </div>
            {%endif%}


         <div class="data">
            <h2><a href="{%url 'position' position.id%}"> 
                {{position.name}}
            </a>
            </h2>
            <span class="date"> {{position.created_at}}
            <p>
                <strong>EMPRESA:</strong>{{position.area.company}}
            </p>
            
                
            </span>
            <p>
                <strong>AREA:</strong>{{position.area}}{{position.company}}
                
            </p>
            
               
            <p> <strong>ACTIVIDAD:</strong>{{position.activity_type|safe}}
            </p>
        </div>
        
            <div class="clearfix"></div>
        
     </article>     
     
        

{% endfor %}