{% for position in positions%}
    <article class="position-item">
        {%if position.image != 'null' %}
            <div class="image">
                <img src="{{position.image.url}}"/>
            </div>
        {%else%}
            <div class="placeholder"></div>
        {%endif%}

        <div class="data">
            <h3><a href="{%url 'position' position.id%}"> 
                {{position.name}}
            </a></h3>
            <span class="date"> {{position.created_at}}
            <p>
                <strong>EMPRESA:</strong>{{position.area.company}}
            </p>
            
                
            </span>
            <p>
                <strong>AREA:</strong>{{position.area}}{{position.company}}
                
            </p>
            
               
            <p> <strong>ACTIVIDAD:</strong>{{position.activity_type|safe}}
            </p>
        </div>
        
        <div class="clearfix"></div>
        
    </article>     
{% endfor %}
